.colLetterLabel {
    color: black;
    flex-grow: 1;
    text-align: center;
  
    font-weight: 700;
    font-size: clamp(0.5rem, 1vmin + 0.3rem, 10px);
  }

  .boardContainer {
    aspect-ratio: 5/5;
  }