/* :root {
  --chat-height: 300px;
  --board-color: #cf9a32;
}
 */


.game-board-color {
  background-color: var(--board-color);
}

.boarder-container {
  aspect-ratio: 5/5;
}

.base-phone-grid {
  display: grid;
  grid-template-areas: "left-edge game-board-layout right-edge";
}
.left-edge {
  grid-area: "left-edge";
  width: 8px;
}
.right-edge {
  grid-area: "right-edge";
  width: 8px;
}

.chat-scroll {
  height: var(--chat-height);
  scrollbar-width: auto;
}

.nav {
  height: 56px;
}

.arena-grid-container {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-areas:
    "players"
    "goboard"
    "actions"
    "chat";
  grid-template-columns: 1fr;
}

.goboard {
  background-color: var(--board-color);
  aspect-ratio: 5/5;
}


/* players */

.players {
  display: flex;
  gap: 9px;
  flex-direction: row;
  grid-area: players;
  height: 100%;
  padding-bottom: 8px;
}

.player-box {
  flex-grow: 1;
  padding-top: 10px;
}

.player-stone {
  height: 20px;
  width: 20px;
  min-width: 20px;
}

/* grid areas */

.actions {
  grid-area: actions;
  width: 100%;
}

/* chat */

.chat {
  grid-area: chat;
  min-height: 250px;
}

.chat-card-body {
  max-width: calc(99vw - 13px);
}

/* media queries media queries media queries media queries */
/* media queries media queries media queries media queries */
/* media queries media queries media queries media queries */
/* media queries media queries media queries media queries */
/* media queries media queries media queries media queries */

@media (min-width: calc(99vh - 190px)) {
  .base-phone-grid {
    max-width: calc(99vh + 300px);
    margin-left: auto;
    margin-right: auto;
  }

  .arena-grid-container {
     gap:10px;
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-template-areas:
      "goboard players"
      "goboard actions"
      "goboard chat";
    grid-template-rows: 90px 150px 1fr;
  }
  .goboard {
    aspect-ratio: 5/5;
    max-height: calc(99vh - 100px);
  }


}



/* light dark mode */

.chakra-ui-light .game-card:hover{
  background-color:#f8fa82;
}

.chakra-ui-dark .game-card:hover{
  background-color:#343E5E;
 /*  //#2D3748;; */
}