
.emptyIntersection {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .stone {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 90%;
  }


.boardIntersectionWithStone {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
  }

.intersectionHover:hover {
    opacity: 0.8 !important;
    background-color: rgb(184, 190, 175);
    cursor: pointer;
    border-radius: 50px;
  }
  
  .lastTurnSvg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: clamp(0.4rem, 1.5vw + 0.2rem, 2.0rem);
/*     margin-top: 16.5%;
    margin-left: 14.5%; */
  }


  .svgBack {
    height: 100%;
    width: 100%;
  }
  .pendingSvg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70%;
    width: 70%;
    margin: 14%;
  }