*, *::before, *::after{ box-sizing: inherit;}
html{
  box-sizing: border-box;
}


.goIcon {
  color: rgb(0, 0, 0);
  background-color: var(--board-color);
  
  max-height: 50px;
  max-width: 5990px;
}

.display-orientation::before{
  content:"default"
  
}


@media (orientation:landscape) { 
  .display-orientation::before{
    content:"landscape"
    
  }
}
@media (orientation:portrait) { 
  .display-orientation::before{
    content:"protrait"
    
  }
}









/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

/*  xnonEdge{
  background-image:url(assets/intersection.png);
  position:relative;
  z-index:5;
  } */

  /* .nonEdge{
    background-image:url(assets/blackStoneTrans.png);
 
    z-index:5;
    } */
/*   .yourDiv{
    position: absolute;
    z-index: 10;
} */

/* .test3{position:absolute; z-index: 1000;} */
/* .intersectionHover  img:hover {
  opacity: 0.5;

  } */
/* .cornerSpacer{ */
 /*   min-width: 28px;  */
/*   min-height: 28px; */
/*    flex-grow:.5; 
} */

/* .rowNumberLabel{
  color:black;
  padding-left: 0.3em;
  padding-right: 0.3em;
  text-align: right;

}

.colLetterLabel{
  color:black;

  flex-grow:1;
  text-align: center;
  padding-right: 5px;
} */
/* .parent {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
} */
/* .emptyIntersection {
  position: relative;
  top: 0;

} */
/* .stone {
  position: absolute;
  top: 0px;
  left: 0px;
  height:90%;
  width:90%;

} */

/* div.intersection-hover:hover {
    opacity:0.8 !important;
    background-color: rgb(184, 190, 175);
    cursor: pointer;
    border-radius: 50px;
  } */
/* 


.goIcon{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  max-height: 50px;
  max-width: 50px;
} */


/* .svgBack{
 
  height: 100%;
  width: 100%;
} */


/* .gameBoard{

  background-color: #EAC77B;
} */

/* .rowNumberDiv{
  flex-grow:1; 
  background-color:transparent; 
  border: 1px black solid;
  color:white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}
.rowNumberDiv>span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color:blue;
} */
/* 
.gameGridContainer{
  height: 97vh;;
  width: 97vh;;
  aspect-ratio: 1;
  background-color: #EAC77B;
}

.gameBoardColor{
  background-color: #EAC77B;
}

@media screen and (max-width: 1330px){
  .gameGridContainer{
    height: 97vw;;
    width: 97vw;;
    aspect-ratio: 1;
  
  }

.boardContainer{
  width:97vw;
  height:97vw;
  
 background-color: #EAC77B;

}
} */
/* @media screen and (min-width: 1036px){
  .boardContainer{
    width:97vh;
    height:97vh;

  }
  } */

/* 
  @media screen and (max-width: 900px){


  }

  @media screen and (max-width: 800px){

    .colLetterLabel{
      font-size: 10px;


    }
    .rowNumberLabel{
      font-size: 10px;

      padding-right: 3px;
    }
  }
  @media screen and (max-width: 700px){

    .rowColLetterLabel{
      font-size: 9px;

    }
    .rowNumberLabel{
      font-size: 9px;

      padding-right: 3px;
    }
  }

  @media screen and (max-width: 600px){
    .colLetterLabel{
      font-size: 7px;

    }
    .rowNumberLabel{
      font-size: 7px;

      padding-right: 3px;
    }

  }

  @media screen and (max-width: 500px){

    .colLetterLabel{
      font-size: 7px;

    }
    .rowNumberLabel{
      font-size: 7px;

      padding-right: 2px;
    }


  }
    

    @media screen and (max-width: 320px){

        .colLetterLabel{
          font-size: 6px;


        }
        .rowNumberLabel{
          font-size: 6px;
    
          padding-right: 2px;
        }

      }
        
      @media screen and (max-width: 200px){

                .colLetterLabel{
                  font-size: 5px;
        
        
                }
                .rowNumberLabel{
                  font-size: 5px;
            
                  padding-right: 2px;
                }
        
              }

              @media screen and (max-width: 175px){

                        .colLetterLabel{
                          font-size: 4px;
                
                
                        }
                        .rowNumberLabel{
                          font-size: 4px;
                    
                          padding-right: 2px;
                        }
                
                      }

 */





/* .letter-row-container{
  width:calc(100vh);
}
.letter-row{
  width:100%;
} */

/* #moveDialog{
  margin-top: 0px;
  margin-left: 0px;
  background-color:"transparent";
   color: "black"; 
   font-weight: "bold"
} */