*, *::before, *::after{ box-sizing: inherit;}
html{
  box-sizing: border-box;
}

.goIcon {
  color: rgb(0, 0, 0);
  background-color: var(--board-color);
  
  max-height: 50px;
  max-width: 5990px;
}

.display-orientation::before{
  content:"default"
}

@media (orientation:landscape) { 
  .display-orientation::before{
    content:"landscape"
  }
}
@media (orientation:portrait) { 
  .display-orientation::before{
    content:"protrait"
  }
}

